input {
  width: 90%;
  padding: 0.9rem;
  border-radius: 5px;
  margin: 0.5rem 0;
  border: 0;
  background-color: #fff;
  box-shadow: inset 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
}

select {
  margin-left: 1rem;
}

.btn-area {
  text-align: right;
}

.input-area {
  margin-bottom: 0.5rem;
}

.select-label {
  padding-right: 0.5rem;
}
