// .TextBox {
//   padding: 1rem;
// }

.BrainhubCarousel__dots button {
  background-color: transparent;
}

.BrainhubCarousel__dots .BrainhubCarousel__dot:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  border: none;
  background: #f96969;
}

.show-mobile {
  display: block;
}

.show-desktop {
  display: none;
  text-align: left;
  padding: 1rem;
}

@media (min-width: 768px) {
  .show-desktop {
    display: block;
  }

  .show-mobile {
    display: none;
  }
}
