.box-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.box-flex-wrapper .flex-item-left {
  width: 80%;
}

.box-flex-wrapper .flex-item-right {
  width: 20%;
  text-align: right;
}

.flex-item-right button {
  margin-top: 45%;
}

.white-icon {
  color: #fff;
}
