.LoginView {
  padding: 0.5rem;
}

.ButtonArea {
  padding-top: 1.5rem;
}

.FlexItem {
  width: 100%;
}

.header-title {
  border: 3px solid #000;
  width: 55%;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .FlexItem {
    width: 50%;
  }

  .ButtonArea {
    text-align: left;
  }

  .header-title {
    margin-top: 30%;
    margin-left: auto;
    margin-right: 0;
  }
}
