.LoginView {
  padding: 0.5rem;
}

.ButtonArea {
  padding-top: 1.5rem;
}

.FlexItem {
  width: 100%;
}

@media (min-width: 768px) {
  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .FlexItem {
    width: 50%;
  }

  .ButtonArea {
    text-align: left;
  }
}
