.LoginView {
  background-color: #ffd4d4;
  padding: 0.5rem;
  min-height: 100vh;
}

.ButtonArea {
  padding-top: 1.5rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }

  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .FlexItem {
    width: 50%;
  }

  .ButtonArea {
    text-align: left;
  }
}
